.pricing {
    background: url('../img/pricing.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 83px 10px 97px 10px;
    &__title {
        font-weight: bold;
        font-size: 48px;
        color: white;
        font-family: $mainfont;
        margin-bottom: 61px;
        text-align: center;
    }
    &__offers {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__item {
        background: #ffffff11;
        margin-bottom: 18px;
        width: 257px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__item-title {
        font-size: 24px;
        color: white;
        text-transform: uppercase;
        background: #ffffff13;
        width: 100%;
        height: 97px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    &__item-period {
        display: block;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 38px;
    }
    &__item-price {
        display: block;
        font-family: $mainfont;
        color: white;
        font-size: 60px;
        margin-bottom: 20px;
    }
    &__item-line {
        width: 60px;
        height: 5px;
        background: #8D81AC;
        margin-bottom: 40px;
    }
    &__item-about {
        color: white;
        line-height: 28px;
        max-width: 210px;
        text-align: center;
        font-family: $mainfont;
    }
    &__item:first-of-type>&__item-about {
        margin-bottom: 68px;
    }
    &__item:nth-of-type(2)>&__item-about,
    &__item:last-of-type>&__item-about {
        margin-bottom: 40px;
    }
    &__item-btn {
        cursor: pointer;
        width: 163px;
        height: 45px;
        background: #ffffff2a;
        border-radius: 40px;
        border: 0;
        color: white;
        font-family: $mainfont;
        font-size: 15px;
        text-transform: uppercase;
        margin-bottom: 39px;
        &:hover {
            transition: 0.3s;
            background: #ffffff41;
        }
    }
    &__item-active {
        margin-bottom: 18px;
        background: #463048;
        width: 299px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__item-active > &__item-title {
        width: 100%;
        height: 111px;
        background: rgba(0, 0, 0, 0.158);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 14px;
    }
    &__item-active>&__item-price {
        font-size: 82px;
        color: white;
        margin-bottom: 16px;
    }
    &__item-active>&__item-period,
    &__item-active>&__item-line {
        margin-bottom: 46px;
    }
    &__item-active>&__item-about {
        line-height: 32px;
        margin-bottom: 83px;
    }
    &__item-active>&__item-btn {
        width: 190px;
        height: 52px;
        margin-bottom: 47px;
        font-size: 16px;
    }
}