.footer {
    @include flex-column;
    align-items: center;
    min-width: 320px;
    background-color: $footer-background;
    @include mobilePadding;
    &__title {
        margin-top: 32px;
        @include fontParam (14px, 700, 22px);
        color: $footer-text-color1;
    }
    &__info {
        display: flex;
        text-align: center;
        margin-top: 4px;
        width: 303px;
        @include fontParam(12px, 400, 20px);
        color: $footer-text-color2;
    }
    &__info-big {
        display: none;
        text-align: center;
        color: $footer-text-color2;
    }
    &__social-media {
        margin-top: 22px;
    }
    &__contacts {
        margin: 20px auto 47px;
        @include flex-column;
        text-align: center;
    }
    &__contact-link {
        @include fontParam(14px, 400, 24px);
        color: $footer-text-color2;
    }
}