a {
    text-decoration: none;
}

.header,
.main,
.footer {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.header__container {
    min-width: 320px;
    margin-bottom: 38px;
    @include mobilePadding
}

.navigation {
    min-width: 320px;
    margin-top: 23px;
    display: flex;
    justify-content: flex-end;
    &__nav-menu {
        position: absolute;
        display: none;
        align-items: center;
        top: 60px;
        width: 182px;
        background-color: $menu-backg;
    }
    &__menu-item {
        padding-left: 13px;
    }
    &__nav-menu.active {
        display: block;
        @include fontParam (11px, 400, 30px);
    }
    &__menu-link {
        color: $text-color1;
    }
    &__menu-item:hover {
        background-color: #E5E5E5;
    }
}

.navigation_link--active {
    color: #57A4A4;
}

.menu-btn {
    @include flex-column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 44px;
    height: 37px;
    margin-bottom: 23px;
    background-color: black;
    cursor: pointer;
    &__burger-btn {
        width: 17px;
        height: 2px;
        background-color: #FFF;
    }
    &__burger-btn::before,
    &__burger-btn::after {
        content: '';
        position: absolute;
        width: 17px;
        height: 2px;
        background-color: #FFF;
    }
    &__burger-btn::before {
        transform: translateY(-5px);
    }
    &__burger-btn::after {
        transform: translateY(5px);
    }
}

.menu-btn.show .menu-btn__burger-btn {
    background-color: transparent;
    box-shadow: none;
}

.menu-btn.show .menu-btn__burger-btn::before {
    transform: rotate(45deg);
}

.menu-btn.show .menu-btn__burger-btn::after {
    transform: rotate(-45deg);
}

.header__img {
    width: 100%;
    height: 100%;
}