.posts {
    margin-bottom: 77.5px;
    min-width: 320px;
    @include mobilePadding;
    &__container {
        margin-top: 23px;
    }
    &__title {
        @include fontParam (14px, 700, 22px);
        color: $text-color1;
    }
    &__info-img {
        width: 160px;
        height: 140px;
        margin-bottom: 11px;
    }
    &__info-title {
        @include fontParam (14px, 700, 30px);
        color: $text-color1;
    }
    &__description {
        @include fontParam (11px, 400, 20px);
        color: $text-color2;
    }
    &__text-hide {
        display: none;
        @include fontParam (14px, 400, 26px);
        color: $text-color3;
    }
    &__desc-span {
        margin: 0 7px 0;
    }
    &__info-hide {
        display: none
    }
}

.instagram {
    margin-bottom: 42px;
    min-width: 320px;
    background: rgba(0, 0, 0, 0.0001);
    @include mobilePadding;
    .hide-title,
    .hide-laptop,
    .hide-desktop {
        display: none
    }
    &__title {
        @include fontParam (14px, 700, 22px);
        color: $text-color1;
        margin-bottom: 13px;
    }
    &__img {
        width: 301px;
        height: 301px;
    }
}