@media (min-width:768px) {
    .header {
        margin-bottom: 56px;
    }
    .navigation {
        margin: 0 auto;
        &__nav-menu {
            position: static;
            display: flex;
            width: 100%;
            margin: 42px 0 42px 0;
            background: transparent;
        }
        &__menu-list {
            margin: 0 auto;
            display: flex;
        }
        &__menu-item:hover {
            background-color: transparent;
        }
        &__menu-item {
            padding-left: 0;
            padding-right: 34px;
            @include fontParam (11px, 400, 22px)
        }
        &__menu-item:last-child {
            padding-right: 0;
        }
    }
    .menu-btn {
        display: none;
    }
    .posts {
        margin: 0 auto 107px;
        max-width: 768px;
        &__container {
            @include flex-column;
        }
        @include fontParam (16px, 700, 22px);
        &__info {
            width: 585px;
        }
        &__info-img {
            float: left;
            padding-right: 21px;
        }
        &__info-hide {
            display: block;
        }
        &__text-hide {
            display: block;
        }
    }
    .instagram {
        margin: 0 auto 50px;
        max-width: 768px;
        &__title-mobile {
            display: none;
        }
        .hide-title,
        .hide-laptop {
            display: block;
        }
        &__titles {
            display: flex;
            justify-content: space-between;
        }
        &__go-title {
            @include fontParam (13px, 700, 22px)
        }
        &__images {
            display: flex;
            justify-content: center;
            min-width: 768px;
        }
        &__img {
            width: 249px;
            height: 249px;
            margin: 0 5px;
        }
    }
    .footer {
        &__title {
            margin-top: 57px;
            @include fontParam (16px, 700, 22px);
        }
        &__info {
            display: none;
        }
        &__info-big {
            margin-top: 22px;
            width: 684px;
            display: block;
            @include fontParam (16px, 400, 26px);
        }
        &__social-media {
            margin: 37px;
        }
        &__contacts {
            margin: 34px 110px 56px;
            flex-direction: row;
        }
        &__contact-link {
            @include fontParam(16px, 400, 26px);
        }
    }
}

@media (min-width:1200px) {
    .navigation__nav-menu {
        margin: 45px 0 51px 0;
    }
    .navigation__menu-item {
        padding-right: 68px;
    }
    .posts {
        margin: 0 auto 116px;
        max-width: 1200px;
        &__container {
            width: 1200px;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
    .instagram {
        margin: 0 auto 49px;
        max-width: 1200px;
        .hide-desktop {
            display: block;
        }
        &__img {
            width: 285px;
            height: 285px;
        }
    }
    .posts {
        &__container {
            width: 1200px;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
    .instagram {
        .hide-desktop {
            display: block;
        }
        &__img {
            width: 285px;
            height: 285px;
        }
    }
    .footer {
        &__title {
            margin-top: 66px;
        }
        &__info {
            margin: 22px 290px 0;
        }
        &__contacts {
            margin-bottom: 70px;
        }
    }
}