@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin fontParam ($size, $weight, $height) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
}

@mixin mobilePadding {
    padding: 0 26.5px 0 26.5px;
}